<div class="product-view-wrapper">
  <div class="product-view">
    <div class="row">
      <div class="large-12 columns">
      <% if (errors) {%>
        <% errors.forEach(function (error) { %>
          <%= __(error) %>
        <% }) %>
      <% } %>
      <% var term_en = ''; %>
      <h1 class="title product-title" id="<%= category %>"><%= category_en %></h1>
      <div class="product-filters" data-category-id="<%= category %>">
      <% vocabularies.forEach(function(vocabulary) { %>
        <label for="<%= vocabulary.vocabulary_machine_name %>"><%= vocabulary.vocabulary_en_name %></label>
        <select id="<%= vocabulary.vocabulary_machine_name %>" name="<%= vocabulary.vocabulary_machine_name %>">
        	  <option value="0">-- Any --</option>
          <% vocabulary.terms.forEach(function(term) { %>
           <% term_en = _.escape(term); %>
            <option value="<%= term_en %>"><%= term_en %></option>
          <% }); %>
        </select>
      <% }); %>
      </div>
      <div class="product-data"></div>
      <div class="order-pane">
        <div class="order-button">
          <a class="order-now button round expand" href="#">Order Now</a>
        </div>
      </div>
      </div>
    </div>
    <div class="order-form">
      <form>
        <div class="contact-info row">
          <div class="large-12 columns">
            <label>E-mail Address
              <input type="text" name="email" class="email" placeholder="yourname@example.com" />
            </label>
          </div>
        </div>
        <div class="identity-info row">
          <div class="large-4 columns">
            <label>First Name
              <input type="text" name="firstName" class="firstName" placeholder="Your First Name" />
            </label>
          </div>
          <div class="large-4 columns">
            <label>Middle Name
              <input type="text" name="middleName" class="middleName" placeholder="Your Middle Name" />
            </label>
          </div>
          <div class="large-4 columns">
            <label>Last Name
              <input type="text" name="lastName" class="lastName" placeholder="Your Last Name" />
            </label>
          </div>
        </div>
        <div class="address-info row">
          <div class="large-12 columns">
            <label>Street Address
              <input type="text" name="streetNameLine1" class="streetNameLine1" placeholder="Your Street Address" />
              <input type="text" name="streetNameLine2" class="streetNameLine2" placeholder="Street Address cont." />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <label>City
              <input type="text" name="city" class="city" placeholder="City" />
            </label>
          </div>
          <div class="large-4 columns">
            <label>State
              <select name="state" class="state">
                <option value="AL">Alabama</option>
              	<option value="AK">Alaska</option>
              	<option value="AZ">Arizona</option>
              	<option value="AR">Arkansas</option>
              	<option value="CA">California</option>
              	<option value="CO">Colorado</option>
              	<option value="CT">Connecticut</option>
              	<option value="DE">Delaware</option>
              	<option value="DC">District Of Columbia</option>
              	<option value="FL">Florida</option>
              	<option value="GA">Georgia</option>
              	<option value="HI">Hawaii</option>
              	<option value="ID">Idaho</option>
              	<option value="IL">Illinois</option>
              	<option value="IN">Indiana</option>
              	<option value="IA">Iowa</option>
              	<option value="KS">Kansas</option>
              	<option value="KY">Kentucky</option>
              	<option value="LA">Louisiana</option>
              	<option value="ME">Maine</option>
              	<option value="MD">Maryland</option>
              	<option value="MA">Massachusetts</option>
              	<option value="MI">Michigan</option>
              	<option value="MN">Minnesota</option>
              	<option value="MS">Mississippi</option>
              	<option value="MO">Missouri</option>
              	<option value="MT">Montana</option>
              	<option value="NE">Nebraska</option>
              	<option value="NV">Nevada</option>
              	<option value="NH">New Hampshire</option>
              	<option value="NJ">New Jersey</option>
              	<option value="NM">New Mexico</option>
              	<option value="NY">New York</option>
              	<option value="NC">North Carolina</option>
              	<option value="ND">North Dakota</option>
              	<option value="OH">Ohio</option>
              	<option value="OK">Oklahoma</option>
              	<option value="OR">Oregon</option>
              	<option value="PA">Pennsylvania</option>
              	<option value="RI">Rhode Island</option>
              	<option value="SC">South Carolina</option>
              	<option value="SD">South Dakota</option>
              	<option value="TN">Tennessee</option>
              	<option value="TX">Texas</option>
              	<option value="UT">Utah</option>
              	<option value="VT">Vermont</option>
              	<option value="VA">Virginia</option>
              	<option value="WA">Washington</option>
              	<option value="WV">West Virginia</option>
              	<option value="WI">Wisconsin</option>
              	<option value="WY">Wyoming</option>
              </select>
            </label>
          </div>
          <div class="large-4 columns">
            <label>Zip Code
              <input type="text" name="zip" class="zip" placeholder="5-digit Zip Code" />
            </label>
          </div>
        </div>
        <div class="payment-info row">
          <div class="large-4 columns">
            <label>Card Number
              <input type="text" name="ccNum" class="ccNum" placeholder="Please provide card number without dashes or spaces." />
            </label>
          </div>
          <div class="large-3 columns">
            <label>Expiration Month
              <select name="expMonth" class="expMonth">
                <option value="1" selected="selected">01 - January</option><option value="2">02 - February</option><option value="3">03 - March</option><option value="4">04 - April</option><option value="5">05 - May</option><option value="6">06 - June</option><option value="7">07 - July</option><option value="8">08 - August</option><option value="9">09 - September</option><option value="10">10 - October</option><option value="11">11 - November</option><option value="12">12 - December</option>
              </select>
            </label>
          </div>
          <div class="large-3 columns">
            <label>Expiration Year
              <select name="expYear" class="expYear">
                <%
                  var year = (new Date()).getFullYear();
                  _.each(_.range(year, year+5), function(e, i) {
                    %>
                    <option value="<%= e %>"><%= e %></option>
                    <%
                  });
                %>
              </select>
            </label>
          </div>
          <div class="large-2 columns">
            <label>CVV
              <input type="text" name="ccCvv" class="ccCvv" placeholder="CVV Security Code" />
            </label>
          </div>
          <div class="order-complete">
            <a class="order-submit button round expand success" href="#">Submit Order</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
