<div class="product-view">
<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>
<h1 class="title product-title" id="<%= category %>"><%= category_en %></h1>
<div class="product-filters" data-category-id="<%= category %>">
<% vocabularies.forEach(function(vocabulary) { %>
  <label for="<%= vocabulary.vocabulary_machine_name %>"><%= vocabulary.vocabulary_en_name %></label>
  <select id="<%= vocabulary.vocabulary_machine_name %>" name="<%= vocabulary.vocabulary_machine_name %>">
  	  <option value="0">-- Any --</option>
    <% vocabulary.terms.forEach(function(term) { %>
      <option value="<%= term %>"><%= term %></option>
    <% }); %>
  </select>
<% }); %>
</div>
<div class="product-data"></div>
</div>
