<div class="product-view-wrapper">
  <div class="product-view">
    <div class="row">
      <div class="large-12 columns">
      <% if (errors) {%>
        <% errors.forEach(function (error) { %>
          <%= __(error) %>
        <% }) %>
      <% } %>
      <% var term_en = ''; %>
      <h1 class="title product-title" id="<%= category %>"><%= category_en %></h1>
      <div class="product-filters" data-category-id="<%= category %>">
      <% vocabularies.forEach(function(vocabulary) { %>
        <label for="<%= vocabulary.vocabulary_machine_name %>"><%= vocabulary.vocabulary_en_name %></label>
        <select id="<%= vocabulary.vocabulary_machine_name %>" name="<%= vocabulary.vocabulary_machine_name %>">
        	  <option value="0">-- Any --</option>
          <% vocabulary.terms.forEach(function(term) { %>
           <% term_en = _.escape(term); %>
            <option value="<%= term_en %>"><%= term_en %></option>
          <% }); %>
        </select>
      <% }); %>
      </div>
      <div class="product-data"></div>
      <div class="order-pane">
        <div class="order-button">
          <a class="order-now button round expand" href="#">Order Now</a>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="order-form">
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Input Label
            <input type="text" placeholder="large-12.columns" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label>Input Label
            <input type="text" placeholder="large-4.columns" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Input Label
            <input type="text" placeholder="large-4.columns" />
          </label>
        </div>
        <div class="large-4 columns">
          <div class="row collapse">
            <label>Input Label</label>
            <div class="small-9 columns">
              <input type="text" placeholder="small-9.columns" />
            </div>
            <div class="small-3 columns">
              <span class="postfix">.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Select Box
            <select>
              <option value="husker">Husker</option>
              <option value="starbuck">Starbuck</option>
              <option value="hotdog">Hot Dog</option>
              <option value="apollo">Apollo</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
        </div>
        <div class="large-6 columns">
          <label>Check these out</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label
            <textarea placeholder="small-12.columns"></textarea>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
