<div class="product-view-wrapper">
  <div class="product-view">
    <div class="row">
      <div class="large-12 columns">
      <% if (errors) {%>
        <% errors.forEach(function (error) { %>
          <%= __(error) %>
        <% }) %>
      <% } %>
      <% var term_en = ''; %>
      <h1 class="title product-title" id="<%= category %>"><%= category_en %></h1>
      <div class="product-filters" data-category-id="<%= category %>">
      <% vocabularies.forEach(function(vocabulary) { %>
        <label for="<%= vocabulary.vocabulary_machine_name %>"><%= vocabulary.vocabulary_en_name %></label>
        <select id="<%= vocabulary.vocabulary_machine_name %>" name="<%= vocabulary.vocabulary_machine_name %>">
        	  <option value="0">-- Any --</option>
          <% vocabulary.terms.forEach(function(term) { %>
           <% term_en = _.escape(term); %>
            <option value="<%= term_en %>"><%= term_en %></option>
          <% }); %>
        </select>
      <% }); %>
      </div>
      <div class="product-data"></div>
      <div class="order-pane">
        <div class="order-button">
          <a class="order-now button round expand" href="#">Order Now</a>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="order-form">
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>E-mail Address
            <input type="text" placeholder="yourname@example.com" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label>First Name
            <input type="text" placeholder="Your First Name" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Middle Name
            <input type="text" placeholder="Your Middle Name" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Last Name
            <input type="text" placeholder="Your Last Name" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Street Address
            <input type="text" placeholder="Your Street Address" />
            <input type="text" placeholder="Street Address Cotd." />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label>City
            <input type="text" placeholder="City" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>State
            <select name="state">
              <option value="tx">Texas</option>
            </select>
          </label>
        </div>
        <div class="large-4 columns">
          <label>Zip Code
            <input type="text" placeholder="5-digit Zip Code" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label
            <textarea placeholder="small-12.columns"></textarea>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
