<%
var slides =

[{
	name: 'Business Cards',
	body: "You only get one chance at a first impression.\
				<br />\
				Make sure yours is worth keeping.",
	link: {
		title: 'Buy Now',
		href: '#'
	},
	image: 'slideshow-businesscards.png',
	w: '420',
	h: '280'
},
{
	name: 'Postcards',
	body: "Got something to say?\
				<br />\
				Get the word out with our postcards.",
	link: {
		title: 'Buy Now',
		href: '#'
	},
	image: 'slideshow-postcard.png',
	w: '420',
	h: '280'
},
{
	name: 'Flyers & Brochures',
	body: "Tried and true, flyers and brochures is still\
				<br />\
				the most versatile advertising method.",
	link: {
		title: 'Buy Now',
		href: '#'
	},
	image: 'slideshow-businesscards.png',
	w: '420',
	h: '280'
},
{
	name: 'Stand-Up Banners',
	body: "These stand-up banners are hard to miss which makes them\
				<br />\
				perfect for trade shows and retail stores.",
	link: {
		title: 'Buy Now',
		href: '#'
	},
	image: 'slideshow-businesscards.png',
	w: '420',
	h: '280'
},
{
	name: 'Posters',
	body: "Put that empty wall to use with.\
				<br />\
				these attention grabbing posters.",
	link: {
		title: 'Buy Now',
		href: '#'
	},
	image: 'slideshow-businesscards.png',
	w: '420',
	h: '280'
},
{
	name: 'Stickers',
	body: "Bumpers, events, promotions, campaigns,\
				<br />\
				you name it we got a sticker for it",
	link: {
		title: 'Buy Now',
		href: '#'
	},
	image: 'slideshow-businesscards.png',
	w: '420',
	h: '280'
},
{
	name: 'Presentation Folders',
	body: "Need to make an impression?\
				<br />\
				These high quality presentation folders can help.",
	link: {
		title: 'Buy Now',
		href: '#'
	},
	image: 'slideshow-businesscards.png',
	w: '420',
	h: '280'
},
{
	name: 'Suede Business Cards',
	body: "Business cards with a little class.\
				<br />\
				Also availble with soft velvet lamination.",
	link: {
		title: 'Buy Now',
		href: '#'
	},
	image: 'slideshow-businesscards.png',
	w: '420',
	h: '280'
}];
%>

<div class="slideshow">
	<%
		slides.map(function(e, i) {
	%>
	<div class="slide slide-<%= i+1 %><%= (i ==  0) ? ' active-slide' : '' %>" id="slide-<%= i+1 %>">
		<div class="slide-inner">
			<div class="region region-left">
				<div class="slide-image">
					<img src="/images/products/<%= e.image %>" alt="<%= e.name %>" height="<%= e.h %>" width="<%= e.w %>">
				</div>
			</div>
			<div class="region region-right">
				<h2><%= e.name %></h2>
				<p><%- e.body %></p>
				<a href="<%= e.link.href %>"><%= e.link.title %></a>
			</div>
		</div>
	</div>
	<% }) %>
	<div class="menu">
		<ul>
			<% slides.map(function(e, i) { %>
				<li><a class="slide-button-<%= i+1 %>" href="#slide-<%= i+1 %>"><%= e.name %></a></li>
			<% }) %>
		</ul>
	</div>
</div>

<div class="top-content">
	<div class='featured-products lowercase'>
		<h2 class='header-title'>Featured Products</h2>
			<ul id='featured-products-items'>
				<%
					//Object List
					[{
						image: 'business-cards.png',
						name: 'Business Cards',
						w: '150',
						h: '100'
					},
					{
						image: 'flyers-brochures.png',
						name: 'Flyers & Brochures',
						w: '184',
						h: '139'
					},
					{
						image: 'posters.png',
						name: 'Posters',
						w: '180',
						h: '126'
					},
					{
						image: 'banner-stand.png',
						name: 'Stand-Up Banners',
						w: '85',
						h: '194'
					},
					{
						image: 'postcards.png',
						name: 'Postcards',
						w: '150',
						h: '182'
					},
					{
						image: 'stickers.png',
						name: 'Stickers',
						w: '200',
						h: '71'
					},
					{
						image: 'presentation-folder.png',
						name: 'Presentation Folders',
						w: '160',
						h: '197'
					},
					{
						image: 'plastic-cards.png',
						name: 'Plastic Cards',
						w: '150',
						h: '100'
					}].map(function(e, i) {
				%>
					 <li class="item-<%= i+1 %>">
						 <div class="product-image"><img src="/images/products/<%= e.image %>" alt="<%= e.name %>" height="<%= e.h %>" width="<%= e.w %>"></div>
 						 <div class="product-name"><%= e.name %><div>
					 </li>
			 <% }) %>

			 <%
				//Simple List
				[].map(function(e, i) {
				 	%>
				 	<li class="item-<%= i+1 %>"><%= e %></li>
			 <% }) %>
		</ul>
	</div>
</div>
<div class="middle-content lowercase">
	<div class='middle-content-container'>
		<div class='need-help-designing'>
			<h2 class='header-title'>Need help designing?</h2>
				<div class="middle-content-one block">
					<h3 class='header-title'>Designing your own?</h3>
					<p class='sub-header'>Read our guide for aspiring designers.</p>
					<ul>
						<li class='item-1'>Tools for designing</li>
						<li class='item-2'>Do's and Dont's of designing</li>
						<li class='item-3'>Where to start</li>
					</ul>
					<div class="flat-button"><a href="/">Learn how to design</a></div>
				</div>
				<div class="middle-content-two block">
					<h3 class='header-title'>Choose from our ready made vector templates.</h3>
					<ul>
						<li class='item-1'>Choose a design</li>
						<li class='item-2'>Download</li>
						<li class='item-3'>Edit information as needed</li>
					</ul>
					<div class="flat-button"><a href="/">Take me to the designs</a></div>
				</div>
			</div>
		</div>
</div>

<div class="clear-fix"></div>
