<div class="slideshow"></div>
<div class="top-content">
	<div class='featured-products'>
		<h2 class='header-title'>Featured Products</h2>
			<ul id='featured-products-items'>
				<%
					//Object List
					[{
						image: 'business-cards.png',
						name: 'Business Cards'
					},
					{
						image: 'business-cards.png',
						name: 'Business Cards'
					}].map(function(e, i) {
				%>
					 <li class="item-<%= i+1 %>">
						 <div class="product-image"><img src="/images/products/<%= e.image %>" alt="<%= e.name %>" height="100" width="150"></div>
 						 <div class="product-name"><%= e.name %><div>
					 </li>
			 <% }) %>

			 <%
				//Simple List
				['Flyers & Brochures',
				 'Posters',
				 'Stand-Up Banners',
				 'Postcards',
				 'Stickers',
				 'Presentation Folders',
				 'Plastic Cards'].map(function(e, i) {
				 	%>
				 	<li class="item-<%= i+1 %>"><%= e %></li>
			 <% }) %>
		</ul>
	</div>
</div>
<div class="middle-content">
	<div class='middle-content-container'>
		<div class='need-help-designing'>
			<h2 class='header-title'>Need help designing?</h2>
				<div class="middle-content-one block">
					<h3 class='header-title'>Designing your own?</h3>
					<p class='sub-header'>Read our guide for aspiring designers.</p>
					<ul>
						<li class='item-1'>Tools for designing</li>
						<li class='item-2'>Do's and Dont's of designing</li>
						<li class='item-3'>Where to start</li>
					</ul>
					<div class="flat-button">Learn how to design</div>
				</div>
				<div class="middle-content-two block">
					<h3 class='header-title'>Choose from our ready made vector templates.</h3>
					<ul>
						<li class='item-1'>Choose a design</li>
						<li class='item-2'>Download</li>
						<li class='item-3'>Edit information as needed</li>
					</ul>
					<div class="flat-button">Take me to the designs</div>
				</div>
			</div>
		</div>
</div>
